@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: "white";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 rgba(165, 143, 36, 1); /* Początkowy cień w kolorze przycisku */
  }
  50% {
    box-shadow: 0 0 25px rgba(253, 224, 71, 1); /* Środkowy cień w kolorze przycisku */
  }
  100% {
    box-shadow: 0 0 0 rgba(253, 224, 71, 1); /* Końcowy cień w kolorze przycisku */
  }
}

.button-shadow {
  animation: shadow-pulse 2s infinite;
}
